.chat-container{

    width:800px;

    margin:30px auto;

    background:white;

    border-radius:12px;

    padding:20px;

    box-shadow:0 0 20px rgba(0,0,0,.15);

}

.messages{

    height:500px;

    overflow-y:auto;

    border:1px solid #ddd;

    padding:15px;

    margin-bottom:20px;

}

.message{

    margin-bottom:15px;

    background:#f1f1f1;

    padding:10px;

    border-radius:10px;

}

.me{

    background:#dbeafe;

}

.send-box{

    display:flex;

    gap:10px;

}

.send-box input{

    flex:1;

    padding:12px;

}

.send-box button{

    width:120px;

}