.page{

padding:40px;

}

h1{

margin-bottom:25px;

}

input{

width:350px;

padding:12px;

margin-bottom:20px;

border-radius:8px;

border:1px solid #ccc;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

th{

background:#2563eb;

color:white;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #eee;

}

.delete-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:6px;

cursor:pointer;

}

.delete-btn:hover{

background:#991b1b;

}